name: Release on tag

on:
  workflow_dispatch:
    inputs:
      test:
        default: true
        type: boolean
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      #- name: Restore
       # run: dotnet restore

      - name: Zip published output
        run: |
          zip -r sampleapp-${{ github.ref_name }}.zip ./publish

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: sampleapp-${{ github.ref_name }}.zip
          asset_name: sampleapp-${{ github.ref_name }}.zip
          asset_content_type: application/zip
