name: CICD

on:
  workflow_dispatch:
    inputs:
      test:
        default: true
        type: boolean
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore src/SampleApp/SampleApp.csproj

      - name: Build
        run: dotnet build src/SampleApp/SampleApp.csproj --configuration Release --no-restore

      - name: Test
        run: dotnet test src/SampleApp/SampleApp.csproj --no-build --verbosity normal

      - name: Publish
        run: dotnet publish src/SampleApp/SampleApp.csproj -c Release -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sampleapp
          path: ./publish

      ## **** START of CD ****   
      - name: Zip published output
        run: |
          Compress-Archive -Path .\publish\* -DestinationPath "sampleapp-${{ github.ref_name }}.zip"

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: sampleapp
          path: ./publish
